
<div fxLayout="row wrap" fxLayoutGap="16px grid">
<div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%"
  *ngFor="let item of (breyers$ | async) | horseListFilter: filter">
<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title>{{ item.modelname }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{ item.photo }}">
    <img *ngIf="item.photo2.length > 0" mat-card-image src="{{ item.photo2 }}">
    <mat-card-content>
        <p>Our Barn Name: {{ item.ourbarnname }}</p>
        <p>Model Number: {{ item.modelnumber }}</p>
        <p>Years Produced: {{ item.yearsProduced }}</p>
        <p>Real Horse: {{ item.realhorse }}</p>
        <p>Mold Name: {{ item.moldName }}</p>
        <p>Mold Number: {{ item.moldNumber }}</p>
        <p>Mold Created: {{ item.moldcreated }}</p>
        <p>Sculptor: {{ item.sculptor }}</p>
        <p>Series: {{ item.series }}</p>
        <p>Set: {{ item.set }}</p>
        <p>Year Obtained: {{ item.yearobtained }}</p>
        <p>Where We Got It: {{ item.wheredidwegetit }}</p>
        <p>Notes: {{ item.notes }}</p>
        <a *ngIf="item.link.length > 0" href="{{ item.link }}"><p>Link</p></a>
    </mat-card-content>
</mat-card>
</div>
</div>